.home-main {
  min-height: 75vh;
}
.home-top {
  height: auto;
  width: 100%;
}
.domain-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
p.domain-card-name {
  color: #dffe00;
  font-weight: 900;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.3rem;
  line-height: 120%;
  text-align: left;
  word-break: break-all;
}
.home-top > h1 {
  color: #dffe00;
  font-weight: 900;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  word-break: break-all;

  /* text-shadow: 1px 0px 1px #c9e500, 0px 1px 1px #eee, 2px 1px 1px #c9e500,
    1px 2px 1px #eee, 3px 2px 1px #c9e500, 2px 3px 1px #eee, 4px 3px 1px #c9e500,
    3px 4px 1px #eee, 5px 4px 1px #c9e500, 4px 5px 1px #eee, 6px 5px 1px #c9e500,
    5px 6px 1px #eee, 7px 6px 1px #c9e500; */
}

.home-top > p {
  font-size: medium;
  font-family: "Inter", sans-serif;
  /* letter-spacing: -0.05em; */

  font-size: larger;
  text-align: center;
  width: 60%;
  line-height: 180%;
  margin: 30px auto;
  word-break: break-word;
}

.search-bar {
  /* position: absolute;
  left: 0;
  right: 0; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
}

.search-results {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  row-gap: 50px;
  padding-bottom: 100px;
}
.result-item {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 32px 0 rgba(223, 254, 0, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);

  transition: transform 0.3s;
  overflow: hidden; /* Hide overflow to create binocular glass effect */
  position: relative;
}
.result-item:hover {
  border: 2px solid #dffe00;
  /* cursor: pointer; */
}

.domain-card-sub-item {
  font-size: medium;
  font-family: "Inter", sans-serif;
  /* letter-spacing: -0.05em; */
  display: flex;
  align-items: center;
  font-size: larger;
}
.domain-card-sub-item-value {
  flex: 1;
  margin-left: 10px;
}
.domain-name-checking {
  margin-left: 10px;
  font-weight: 600;
}
.domain-name-checking.domain-name {
  border-radius: 100px;
  font-size: medium;
  font-weight: 900;
  font-family: "Chakra Petch", sans-serif;
  padding: 4px 10px;
}
.registered-domain {
  background-color: rgb(51, 150, 255, 0.08);
  color: rgb(51, 150, 255);
  border: 1px solid rgb(51, 150, 255);
}
.available-domain {
  background-color: rgb(16, 187, 53, 0.08);
  color: rgb(16, 187, 53);
  border: 1px solid rgb(16, 187, 53);
}
.not-valid-domain {
  background-color: rgb(242, 104, 91, 0.08);
  color: rgb(242, 104, 91);
  border: 1px solid rgb(242, 104, 91);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .home-main {
    min-height: 77vh;
  }
  .home-top > h1 {
    font-size: 25px;
    margin-top: 60px;
    width: 90%;
    word-break: keep-all;
  }
  .home-top > p {
    width: 80%;
    line-height: 150%;
    font-size: medium;
  }
  .search-bar .search-main {
    max-width: 900px;
    width: 85%;
    height: auto;
    /* width: 60%; */
    padding: 5px;
    border: 5px solid black;
    outline: 2px solid #dffe00;
  }
  .search-bar .search-main > svg {
    min-width: 10px;
  }
  .search-bar .search-main > input {
    font-size: 14px;
  }
  .search-bar .dot-mode {
    padding: 0.86rem;
    border-radius: 10px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: small;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  .search-results {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    row-gap: 50px;
  }
}

.glitch {
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: #fff;
  margin: 0 10px;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
