.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.popup-container {
  transform: translate(50%, 50%);
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 50em;
  opacity: 1;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.popup-card {
  padding: 20px;
  text-align: center;
}

.popup-card h2 {
  color: #000;
  font-family: "Chakra Petch", sans-serif;
  line-height: 100%;
  word-break: break-all;
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 2rem;
  color: #dffe00;
  /* background-color: #dffe00; */
}

.popup-card p {
  font-size: medium;
  font-family: "IBM Plex Sans", sans-serif;
  /* letter-spacing: -0.05em; */

  font-size: larger;
  text-align: center;
  line-height: 180%;
  margin: 30px auto;
  word-break: break-word;
}
.popup-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.popup-overlay button {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.popup-overlay button:hover {
  transform: translateY(-4px);
}
.move-forward {
  color: #000;
  font-family: "Chakra Petch", sans-serif;
  line-height: 100%;
  word-break: break-all;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  padding: 20px 30px;
  margin-left: 20px;
  font-size: 1.2rem;
  color: #dffe00;
}
.close-popup {
  color: #000;
  font-family: "Chakra Petch", sans-serif;
  line-height: 100%;
  word-break: break-all;
  padding: 20px 30px;
  margin-left: 20px;
  font-size: 1.2rem;
  border: 1px solid rgb(45, 45, 45);
  background-color: #dffe00;
  color: black;
}
