.i4-parent {
  position: absolute;
  z-index: 2;
  top: 15%;
  right: -15%;
  width: 30%;
  transform: rotate(-10deg);
}
.i4-parent:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0px 0 15px #ddff0262);
}
.i4-parent img {
  width: 80%;
  transition: all 1s ease;
}
.i1-parent {
  position: absolute;
  z-index: 2;
  top: 31%;
  left: -10%;
  width: 30%;
  transform: rotate(-10deg);
}
.i1-parent:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0px 0 15px #ddff0262);
}
.i1-parent img {
  width: 80%;
  transition: all 1s ease;
}
